﻿@model IEnumerable<TourDuLich.Models.Tour>

@{
    ViewData["Title"] = "Home";
}

<form method="post" asp-action="Search">
    <input type="text" name="keywords"  />
    <button type="submit"> Search</button>
</form>
<!-- Package Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">ĐẶT TOUR DU LỊCH NGAY </h6>
            <h1 class="mb-5">Tour Du lịch Khuyến mãi Hấp dẫn 2024</h1>
        </div>
        <div class="row g-4 justify-content-center">
            @foreach(var item in Model)
                {
                  
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="package-item">
                        <div class="overflow-hidden">
                            <img src="@item.ImageUrl" class="card-img-top" alt="@item.LoaiTour" style="height:300px;">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>@item.DiemDen</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@item.NgayBatDau</small>
                            @* <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small> *@
                        </div>
                        <div class="text-center p-4">
                            <h3 class="mx-3">@item.GiaTour.ToString("#,##0") Vnđ</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="Tours/TourDetails?id=@item.Id" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="DatTours/AddToCart?tourId=@item.Id" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                            </div>
                        </div>
                    </div>
                
            </div>
            }
           

            
            
            
        </div>
    </div>
</div>
<!-- Package End -->