﻿@model IEnumerable<TourDuLich.Models.Tour>


@{
    ViewData["Title"] = "TourByCategory";
    Layout = "~/Views/Shared/_TourList.cshtml";
}

<div class="row g-4 justify-content-center">
    @foreach (var item in Model)
    {

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="package-item">
                <div class="overflow-hidden">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.ImageUrl" style="height:300px;">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>@item.DiemDen</small>
                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@item.NgayBatDau</small>
                    @* <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small> *@
                </div>
                <div class="text-center p-4">
                    <h3 class="mx-3">@item.GiaTour.ToString("#,##0") Vnđ</h3>
                    <div class="mb-3">
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                        <small class="fa fa-star text-primary"></small>
                    </div>
                    <h5  class="card-title"><a>@item.Name</a></h5>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="TourDetails?id=@item.Id" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">
                            Read More</a>
                        <a asp-controller="Booking" asp-action="AddToCart" asp-route-tourId="@item.Id" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                    </div>  
                </div>
            </div>

        </div>
    }





</div>
