﻿@model TourDuLich.Models.Tour

@{
    ViewData["Title"] = "TourDetails";
    Layout = "~/Views/Shared/_DetailView.cshtml";
}


<div>
    <h4>Thông Tin Tour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên Tour: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            <p>Hình ảnh</p>

        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.ImageUrl" style="height:auto;">
        </dd>
        <dt class = "col-sm-2">
           Mô tả:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
       
        <dt class = "col-sm-2">
            Ngày Khởi Hành: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
           Ngày Về: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            Điểm Khởi Hành
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemKhoiHanh)
        </dd>
        <dt class = "col-sm-2">
            Điểm Đến
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemDen)
        </dd>
        

        <dt class="col-sm-2">
            Giá Tour:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GiaTour)
        </dd>
       
    </dl>
    <a class="btn btn-primary  px-4" asp-controller="DatTours" asp-action="AddToCart">Book Now</a>
</div>
<div>
    
    <a asp-controller="Home" asp-action="Home">Back to Home</a>
</div>


