﻿@model IEnumerable<TourDuLich.Models.LoaiTour>

<div class="nav-item dropdown">
    <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown">TOUR</a>

   
    <div class="dropdown-menu m-0">
        @foreach (var item in Model)
        {
            <a href="/Tours/TourByCategory?catId=@item.Id" class="dropdown-item">@item.Name </a>
        }      
    </div>


</div>