﻿@model IEnumerable<TourDuLich.Models.DatTour>


<!DOCTYPE html>
<html lang="en">

<!-- Booking Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        @foreach(var item in Model)
        {
            <h1>
               PHieu dat tour
            </h1>
        }
    </div>
</div>
<!-- Booking Start -->

</html>

