﻿@model TourDuLich.Models.DatTour

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>DatTour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KhachHangId" class="control-label"></label>
                <select asp-for="KhachHangId" class ="form-control" asp-items="ViewBag.KhachHangId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TourId" class="control-label"></label>
                <select asp-for="TourId" class ="form-control" asp-items="ViewBag.TourId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgayDat" class="control-label"></label>
                <input asp-for="NgayDat" class="form-control" />
                <span asp-validation-for="NgayDat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDi" class="control-label"></label>
                <input asp-for="NgayDi" class="form-control" />
                <span asp-validation-for="NgayDi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayVe" class="control-label"></label>
                <input asp-for="NgayVe" class="form-control" />
                <span asp-validation-for="NgayVe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoNguoi" class="control-label"></label>
                <input asp-for="SoNguoi" class="form-control" />
                <span asp-validation-for="SoNguoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongGia" class="control-label"></label>
                <input asp-for="TongGia" class="form-control" />
                <span asp-validation-for="TongGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

