﻿@model IEnumerable<TourDuLich.Models.DatTour>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoNguoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoNguoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
